.toggle {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-label {
    flex: 0;
    margin: 0.5%;
    font-size: 14px;
    color: #999;
}

.toggle-switch {
    display: inline-block;
    width: 3vw;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-switch::before {
    content: '';
    position: absolute;
    width: 35%;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;
}

input[type="checkbox"]:checked+.toggle-switch {
    background-color: #007BFF;
}

input[type="checkbox"]:checked+.toggle-switch::before {
    transform: translateX(120%);
}

.hidden-checkbox {
    position: absolute;
    left: -9999px;
    top: -9999px;
    opacity: 0;
}

@media (max-width: 1040px) {
    .toggle-switch {
        width: 5%;
    }
}

@media (max-width: 768px) {
    .toggle-switch {
        width: 8%;
    }
}

@media (max-width: 480px) {
    .toggle-switch {
        width: 18%;
    }
}